body{
    text-align: center;
    box-sizing: border-box;
    background-color: aqua;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

div{
    background-color: black;
    color: whitesmoke;
    transform-style: preserve-3d;
    max-width: 50vw;
    min-width: 350px;
    padding: 30px;
    margin:50px auto;
    border-radius: 15px;
    opacity: 1.5;
    

}


button{
    background-color: white;
    color:black;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 500;


}

#del{
    font: size 0.5em;;
    color: red;
}

@media only screen and (max-width=600px) {
    div{
        min-height: 90vw;
        max-width: 450px;
        font-size: 18px;
    }
}